select{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.chart {
    width: 80%; 
    max-width: 400px; 
    min-height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.table{
    padding: 10px;
    margin: 10px;
}
.logout {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  