.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  
  
  
  .input,
  .select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    transition: border 0.2s ease;
}
  .input{
    align-self: center;
  }
  .input:focus,
  .select:focus {
    border-color: #3b82f6;
    outline: none;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  
  .submitButton {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #15a32b;
    color: white;
    transition: background-color 0.2s ease;
  }
  
  .submitButton:hover {
    background-color: #2a7f12   ;
  }
  
  .cancelButton {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    transition: background-color 0.2s ease;
  }
  
  .cancelButton:hover {
    background-color: rgb(173, 47, 47)
  }
  